<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiscoVerd - Estudiantes</title>
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Información</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h1>Bienvenidos a DiscoVerd - Estudiantes</h1>
        <p>Aquí encontrarás todo sobre nuestros eventos y oportunidades para estudiantes.</p>
        <button><a href="/login/">Iniciar Sesión</a></button>
        <button><a href="/register/">Registrarse</a></button>
    </section>
</body>
</html>
