/* Encabezado (logo) */
.logo {
    max-width: 50px; /* Tamaño máximo del logo */
    height: auto;
}

/* Responsividad para el logo */
@media (min-width: 992px) {
    .logo {
        max-width: 100px; /* Ajuste del logo en pantallas grandes */
    }
}

@media (max-width: 768px) {
    .logo {
        max-width: 80px; /* Ajuste en pantallas medianas */
    }
}

@media (max-width: 576px) {
    .logo {
        max-width: 60px; /* Ajuste en pantallas pequeñas */
    }
}
