/* Tipografía */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p, a, li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* Logo */
.logo {
    width: 150px;
}

/* Colores */
.bg-light {
    background-color: #F5F5F5;
}

.btn-primary {
    background-color: #FFA500;
    border-color: #FFA500;
}

.btn-primary:hover {
    background-color: #FF8C00;
    border-color: #FF8C00;
}

/* Beneficios */
.benefits-section h3 {
    color: #1E90FF;
}

/* Pie de página */
.footer {
    background-color: #333;
}

.footer a {
    color: #FFA500;
}

.footer a:hover {
    color: #FF8C00;
}
